In [1]:
import pandas as pd
import numpy as np
import os

#### Read in the data.

In [ ]:
# Go to the directory where the data file is located. 
# os.chdir(r'~~')                # Please, replace the path with your own.

In [3]:
df = pd.read_csv('/content/data_iris (1).csv' )

In [4]:
df.shape

(150, 5)

In [5]:
df.head(5)

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

#### Answer the following questions.

1). Append a new variable $Amount = UnitPric \times Units$.

In [6]:
df['Amount']= df['Sepal.Length'] * df['Petal.Length']
df

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species  Amount
0             5.1          3.5           1.4          0.2     setosa    7.14
1             4.9          3.0           1.4          0.2     setosa    6.86
2             4.7          3.2           1.3          0.2     setosa    6.11
3             4.6          3.1           1.5          0.2     setosa    6.90
4             5.0          3.6           1.4          0.2     setosa    7.00
..            ...          ...           ...          ...        ...     ...
145           6.7          3.0           5.2          2.3  virginica   34.84
146           6.3          2.5           5.0          1.9  virginica   31.50
147           6.5          3.0           5.2          2.0  virginica   33.80
148           6.2          3.4           5.4          2.3  virginica   33.48
149           5.9          3.0           5.1          1.8  virginica   30.09

[150 rows x 6 columns]

2). Average unit price for each region. Use the groupby() method.

In [10]:
df.groupby(['Sepal.Length']).mean()

              Sepal.Width  Petal.Length  Petal.Width     Amount
Sepal.Length
4.3              3.000000      1.100000     0.100000   4.730000
4.4              3.033333      1.333333     0.200000   5.866667
4.5              2.300000      1.300000     0.300000   5.850000
4.6              3.325000      1.325000     0.225000   6.095000
4.7              3.200000      1.450000     0.200000   6.815000
4.8              3.180000      1.580000     0.200000   7.584000
4.9              2.950000      2.266667     0.550000  11.106667
5.0              3.120000      1.840000     0.430000   9.200000
5.1              3.477778      1.722222     0.400000   8.783333
5.2              3.425000      2.075000     0.475000  10.790000
5.3              3.700000      1.500000     0.200000   7.950000
5.4              3.550000      2.033333     0.516667  10.980000
5.5              2.842857      3.228571     0.900000  17.757143
5.6              2.816667      4.200000     1.416667  23.520000
5.7              3.100000      3.587500     1.100000  20.448750
5.8              2.885714      4.071429     1.400000  23.614286
5.9              3.066667      4.700000     1.700000  27.730000
6.0              2.733333      4.650000     1.500000  27.900000
6.1              2.850000      4.750000     1.416667  28.975000
6.2              2.825000      4.750000     1.725000  29.450000
6.3              2.855556      5.133333     1.811111  32.340000
6.4              2.957143      5.157143     1.871429  33.005714
6.5              3.000000      5.240000     1.900000  34.060000
6.6              2.950000      4.500000     1.350000  29.700000
6.7              3.050000      5.262500     1.962500  35.258750
6.8              3.000000      5.400000     1.933333  36.720000
6.9              3.125000      5.275000     2.050000  36.397500
7.0              3.200000      4.700000     1.400000  32.900000
7.1              3.000000      5.900000     2.100000  41.890000
7.2              3.266667      5.966667     1.966667  42.960000
7.3              2.900000      6.300000     1.800000  45.990000
7.4              2.800000      6.100000     1.900000  45.140000
7.6              3.000000      6.600000     2.100000  50.160000
7.7              3.050000      6.600000     2.200000  50.820000
7.9              3.800000      6.400000     2.000000  50.560000

3). Average unit price for each region. Use the pivot_table() method.

In [19]:
table = pd.pivot_table(df,values='Sepal.Length', index=['Sepal.Width','Petal.Length','Petal.Width','Amount'], aggfunc=np.mean)
table

                                             Sepal.Length
Sepal.Width Petal.Length Petal.Width Amount
2.0         3.5          1.0         17.50            5.0
2.2         4.0          1.0         24.00            6.0
            4.5          1.5         27.90            6.2
            5.0          1.5         30.00            6.0
2.3         1.3          0.3         5.85             4.5
...                                                   ...
3.9         1.7          0.4         9.18             5.4
4.0         1.2          0.2         6.96             5.8
4.1         1.5          0.1         7.80             5.2
4.2         1.4          0.2         7.70             5.5
4.4         1.5          0.4         8.55             5.7

[149 rows x 1 columns]























4). Average unit price and units for each region in one code sentence. Use the groupby() method.

In [20]:
df.groupby("Sepal.Length", group_keys=False).apply(lambda x: x)

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species  Amount
0             5.1          3.5           1.4          0.2     setosa    7.14
1             4.9          3.0           1.4          0.2     setosa    6.86
2             4.7          3.2           1.3          0.2     setosa    6.11
3             4.6          3.1           1.5          0.2     setosa    6.90
4             5.0          3.6           1.4          0.2     setosa    7.00
..            ...          ...           ...          ...        ...     ...
145           6.7          3.0           5.2          2.3  virginica   34.84
146           6.3          2.5           5.0          1.9  virginica   31.50
147           6.5          3.0           5.2          2.0  virginica   33.80
148           6.2          3.4           5.4          2.3  virginica   33.48
149           5.9          3.0           5.1          1.8  virginica   30.09

[150 rows x 6 columns]

5). Average unit price and units for each region in one code sentence. Use the pivot_table() method.

In [24]:
table = pd.pivot_table(df,values='Sepal.Length', index=['Sepal.Width','Petal.Length','Petal.Width','Amount'], aggfunc=np.mean)
table

                                             Sepal.Length
Sepal.Width Petal.Length Petal.Width Amount
2.0         3.5          1.0         17.50            5.0
2.2         4.0          1.0         24.00            6.0
            4.5          1.5         27.90            6.2
            5.0          1.5         30.00            6.0
2.3         1.3          0.3         5.85             4.5
...                                                   ...
3.9         1.7          0.4         9.18             5.4
4.0         1.2          0.2         6.96             5.8
4.1         1.5          0.1         7.80             5.2
4.2         1.4          0.2         7.70             5.5
4.4         1.5          0.4         8.55             5.7

[149 rows x 1 columns]

6). Total units for each region and item type in one code sentence. Use the pivot_table() method. Fill the missing values with 0.

In [25]:
table = pd.pivot_table(df,values='Sepal.Length', index=['Sepal.Width','Petal.Length','Petal.Width','Amount'], aggfunc=np.sum,fill_value=0)
table

                                             Sepal.Length
Sepal.Width Petal.Length Petal.Width Amount
2.0         3.5          1.0         17.50            5.0
2.2         4.0          1.0         24.00            6.0
            4.5          1.5         27.90            6.2
            5.0          1.5         30.00            6.0
2.3         1.3          0.3         5.85             4.5
...                                                   ...
3.9         1.7          0.4         9.18             5.4
4.0         1.2          0.2         6.96             5.8
4.1         1.5          0.1         7.80             5.2
4.2         1.4          0.2         7.70             5.5
4.4         1.5          0.4         8.55             5.7

[149 rows x 1 columns]

7). Total sales amount for each region and item type in one code sentence. Use the pivot_table() method. Fill the missing values with 0.

In [26]:
table = pd.pivot_table(df,values='Amount', index=['Sepal.Width','Petal.Length','Petal.Width'], aggfunc=np.sum,fill_value=0)
table

                                      Amount
Sepal.Width Petal.Length Petal.Width
2.0         3.5          1.0           17.50
2.2         4.0          1.0           24.00
            4.5          1.5           27.90
            5.0          1.5           30.00
2.3         1.3          0.3            5.85
...                                      ...
3.9         1.7          0.4            9.18
4.0         1.2          0.2            6.96
4.1         1.5          0.1            7.80
4.2         1.4          0.2            7.70
4.4         1.5          0.4            8.55

[143 rows x 1 columns]